RMSE Calm Conditions (5 UTC (12 am CDT) 3/26- 5 UTC (12 am CDT) 3/30 2022):

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import math

In [2]:
#time:
with open('hrrr_f01_Selma_AL.txt') as f:
    lst=[line.split()[0] for line in f]
    time=[]
    for i in lst:
        new=i.replace(',',"")
        time.append(new)
    time.pop(0)
    time=[float(x) for x in time]
#     print(time.index(85))
#     print(time.index(89))
#     time=time[2015:2111]
#     print(time)
    #print(len(time))

In [3]:
#1 hr hrrr:
with open('hrrr_f01_Selma_AL.txt') as f:
    lst=[line.split()[3] for line in f]
    temp=[]
    for i in lst:
        new=i.replace(',',"")
        temp.append(new)
    temp.pop(0)
    temp=[float(x) for x in temp]
    temp=temp[2020:2117]
    # replace null values with 0:
    i = temp.index(9999)
    #print(i)
    temp= temp[:i]+[]+temp[i+1:]
    #temp=temp[2015:2063]
#     print(temp)
#     print(len(temp))
#full time period is [2015:2112]

In [4]:
#Air Temp CRN:
with open('CRN_Selma.txt') as f:
    lst=[line.split()[13] for line in f]
    #print(lst)
    temp_crn=[]
    for i in lst:
        new=i.replace(',',"")
        temp_crn.append(new)
    temp_crn=[float(x) for x in temp_crn]
    temp_crn=temp_crn[2020:2117]
    #print(temp_crn)
    # replace null values with 0:
#     print(temp_crn[91])
    i = temp_crn.index(40.0)
    #print(i)
    temp_crn= temp_crn[:i]+[]+temp_crn[i+1:]
    #temp=temp[2015:2063]
#     print(temp_crn)
#     print(len(temp_crn))
#     print(temp_crn[2124])
#     print(temp_crn[2148])
# full time period is [2020:2117]

In [5]:
MSE = np.square(np.subtract(temp_crn,temp)).mean() 
 
RMSE1 = math.sqrt(MSE)
print("RSME 1-hr 48-hr HRRR vs CRN :",RMSE1)

RSME 1-hr 48-hr HRRR vs CRN : 72.96952060620927

In [6]:
#3 hr hrrr:
with open('hrrr_f03_Selma_AL.txt') as f:
    lst=[line.split()[3] for line in f]
    temp=[]
    for i in lst:
        new=i.replace(',',"")
        temp.append(new)
    temp.pop(0)
    temp=[float(x) for x in temp]
    temp=temp[2018:2115]
    #temp=temp[2015:2063]
    #print(temp)
    #print(len(temp))
#full time period is [2015:2112]

In [7]:
#Air Temp CRN:
with open('CRN_Selma.txt') as f:
    lst=[line.split()[13] for line in f]
    #print(lst)
    temp_crn=[]
    for i in lst:
        new=i.replace(',',"")
        temp_crn.append(new)
    temp_crn=[float(x) for x in temp_crn]
    temp_crn=temp_crn[2020:2117]
    #print(temp_crn)
    #print(len(temp_crn))
    # print(temp_crn[2124])
    # print(temp_crn[2148])
#full time period is [2020:2117]

In [8]:
MSE = np.square(np.subtract(temp_crn,temp)).mean() 
 
RMSE3 = math.sqrt(MSE)
print("RSME 3-hr 48-hr HRRR vs CRN :",RMSE3)

RSME 3-hr 48-hr HRRR vs CRN : 69.04532278104104

In [9]:
#6 hr hrrr:
with open('hrrr_f06_Selma_AL.txt') as f:
    lst=[line.split()[3] for line in f]
    temp=[]
    for i in lst:
        new=i.replace(',',"")
        temp.append(new)
    temp.pop(0)
    temp=[float(x) for x in temp]
    temp=temp[2015:2112]
    #temp=temp[2015:2063]
    #print(temp)
    #print(len(temp))
#full time period is [2015:2112]

In [10]:
MSE = np.square(np.subtract(temp_crn,temp)).mean() 
 
RMSE6 = math.sqrt(MSE)
print("RSME 6-hr 48-hr HRRR vs CRN :",RMSE6)

RSME 6-hr 48-hr HRRR vs CRN : 74.74768347960364

In [11]:
#12 hr hrrr:
with open('hrrr_f12_Selma_AL.txt') as f:
    lst=[line.split()[3] for line in f]
    temp=[]
    for i in lst:
        new=i.replace(',',"")
        temp.append(new)
    temp.pop(0)
    temp=[float(x) for x in temp]
    temp=temp[2009:2106]
    #temp=temp[2015:2063]
    #print(temp)
    #print(len(temp))
#full time period is [2015:2112]

In [12]:
MSE = np.square(np.subtract(temp_crn,temp)).mean() 
 
RMSE12 = math.sqrt(MSE)
print("RSME 12-hr 48-hr HRRR vs CRN :",RMSE12)

RSME 12-hr 48-hr HRRR vs CRN : 78.47377590733505

In [13]:
#18 hr hrrr:
with open('hrrr_f18_Selma_AL.txt') as f:
    lst=[line.split()[3] for line in f]
    temp=[]
    for i in lst:
        new=i.replace(',',"")
        temp.append(new)
    temp.pop(0)
    temp=[float(x) for x in temp]
    temp=temp[2003:2100]
    #temp=temp[2015:2063]
    #print(temp)
    #print(len(temp))
#full time period is [2015:2112]

In [14]:
MSE = np.square(np.subtract(temp_crn,temp)).mean() 
 
RMSE18 = math.sqrt(MSE)
print("RSME 18-hr 48-hr HRRR vs CRN :",RMSE18)

RSME 18-hr 48-hr HRRR vs CRN : 75.00449402343396

In [15]:
from tabulate import tabulate
values=[["1-hr",RMSE1],["3-hr",RMSE3],["6-hr",RMSE6],["12-hr",RMSE12],["18-hr",RMSE18]]
head=["Forecast Hour","RMSE"]
print(tabulate(values, headers=head, tablefmt="grid"))

+-----------------+---------+
| Forecast Hour   |    RMSE |
+=================+=========+
| 1-hr            | 72.9695 |
+-----------------+---------+
| 3-hr            | 69.0453 |
+-----------------+---------+
| 6-hr            | 74.7477 |
+-----------------+---------+
| 12-hr           | 78.4738 |
+-----------------+---------+
| 18-hr           | 75.0045 |
+-----------------+---------+